<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesion </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list card">
  <div class= "item item-body">
  <img class="full-image" src="assets/logobici.jpg">
  </div>
  </div>
<ion-item>
  <ion-label position="stacked">email</ion-label>
  <ion-input  type="text" [(ngModel)]="logindat.email" value=""></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Contraseña</ion-label>
  <ion-input  type="text" value="" [(ngModel)]="logindat.passw"></ion-input>
</ion-item>
 
 <ion-button expand="full" fill="outline" (click)="loginin()">
    Iniciar
 </ion-button>
<ion-button expand="full" fill="outline" [routerLink]="['/registro']">
    ¿Nuevo Usuario ?
</ion-button>

</ion-content>
