<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Salud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
<ion-card-subtitle>Hoy </ion-card-subtitle>
  <img src="assets/saludbici.jpg">
  <ion-fab right top>
    <button ion-fab>
      <ion-icon name="pin"></ion-icon>
    </button>
  </ion-fab>
  <ion-item>
  	<span item-start> <i style="color:rgb(86, 101, 115 );">Distancia: () </i></span>
    <span item-start> <i style="color:rgb(86, 101, 115 );">Tiempo: () </i></span>
    <span item-start> <i style="color:rgb(86, 101, 115 );">Velocidad:() </i></span>
       
  </ion-item>

</ion-card>
</ion-content>
