<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Rutas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button expand="full" fill="outline" [routerLink]="['/mapa']">
	<ion-icon slot="start" name="location"></ion-icon>
   Mi ubicación
   </ion-button>

   <ion-card>
    <ion-card-title>
      Rutas Frecuentes
    </ion-card-title>
  <img src="assets/map.jpg">
  <ion-fab right top>
    <button ion-fab>
      <ion-icon name="pin"></ion-icon>
    </button>
  </ion-fab>

  <ion-item>
    <ion-icon name="pin-sharp"></ion-icon>
    (ubicacion1)
  </ion-item>

  <ion-item>
    <ion-icon name="flag" item-start large ></ion-icon>
    (ubicacion1)
  </ion-item>

  <ion-item>
    <span item-start>(fecha)</span>
    <button ion-button icon-start clear item-end>
      <ion-icon name="navigate"></ion-icon>
      Empezar
    </button>
  </ion-item>

</ion-card>
</ion-content>
