<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<div class="list card">
	<div class= "item item-body">
		<img src="assets/infobici.jpg">
	</div>

<i style="color:rgb(86, 101, 115 );">LockBike es una aplicación que tiene como objetivo, mejorar la interacción del usuario con su bicicleta, ayudar a la seguridad de su vehículo
Cómo se pronuncia
 </i> 
<ion-list-header>
 <ion-icon name="call"></ion-icon> 
 <i style="color:rgb(86, 101, 115 );"> +57 3105053733 </i> 
</ion-list-header>
<ion-list-header>
 <ion-icon name="mail"></ion-icon> 
 <i style="color:rgb(86, 101, 115 );"> mibici@gmail.com </i>
</ion-list-header>
</div>
</ion-content>
