<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Informaciòn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "padding"
>
<div class="list card">
	<div class= "item item-body">
		<img class="full-image" src="assets/dibujo-bici.jpg">
	</div>

<p> Mi Bici es una aplicacion que tiene como objetivo, mejorar la interacciòn del usuario con su bicicleta, ayudar a la seguridad de su vehiculo </p> 
<ion-list-header>
 <ion-icon name="call"></ion-icon> 
  +57 123456789
</ion-list-header>
<ion-list-header>
 <ion-icon name="mail"></ion-icon> 
  mibici@gmail.com
</ion-list-header>
</div>
</ion-content>
