<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Bicicleta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
        <img src="assets/bici.jpg">
        <ion-card-header>
          <ion-card-title></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Estado Candado: 
          <ion-button expand="block">
          <ion-icon slot="start" name="cash"></ion-icon>Tiendas</ion-button>
          <ion-button expand="block">Parqueaderos</ion-button>
          <ion-button expand="block" (click)="estadoBici()" [routerLink]="['/candado']">candado</ion-button>
        </ion-card-content>
      </ion-card>
</ion-content>
