<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="['/login']">
    <ion-icon name="enter-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Datos del Propietario-->

<ion-item-divider>
    <ion-label>
     Mis Datos
    </ion-label>
  </ion-item-divider>  

<ion-item>
  <ion-label position="stacked">Nombre</ion-label>
  <ion-input id="Nombre" type="text"  [(ngModel)] ="nombre" value=""></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Apellido</ion-label>
  <ion-input id="Nombre" type="text"  [(ngModel)] ="apellido" value=""></ion-input>
</ion-item>


<ion-item>
  <ion-label position="stacked">email</ion-label>
  <ion-input  id="Usuario" type="text" [(ngModel)] ="email" value=""></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Contraseña</ion-label>
  <ion-input  id="pass" type="password" value="" [(ngModel)] ="pass"></ion-input>
</ion-item>

<ion-item>
  <ion-label  position="stacked" >Edad </ion-label>
  <ion-input type="text" [(ngModel)] ="edad"></ion-input>
</ion-item>

  <ion-item>
    <ion-label position="stacked" >Principal Uso Bici</ion-label>
    <ion-select [(ngModel)] ="usobici" type="text">
      <ion-select-option value="transp">MedioTransporte</ion-select-option>
      <ion-select-option value="deport">Deporte</ion-select-option>
    </ion-select>
  </ion-item>


<!--DATOS DE LA BICI
<ion-item-divider>
    <ion-label>
      Caracteristicas Bici
    </ion-label>
  </ion-item-divider>

<ion-item>
  <ion-label position="stacked">Marca</ion-label>
  <ion-input  id= "Marca" type="text"  ></ion-input>
</ion-item>
<ion-item>
    <ion-label position="fixed" >Gama</ion-label>
    <ion-input id="saveServer"> 
      <ion-select value=" Hola" okText="Ok" cancelText="Cancelar">
      <ion-select-option value="Alta">Alta</ion-select-option>
      <ion-select-option value="Media">Media</ion-select-option>
      <ion-select-option value="Baja">Baja</ion-select-option>
      </ion-select>
    </ion-input> 
  </ion-item>
-->


<!-- Guardar Informacion Anterior -->
<ion-button expand="full" (click)="register()"  [disabled]="disableButton"> Registrar </ion-button>

</ion-content>


<!-- Funciones-->
